/* ---------------------------------------- Geral ---------------------------------------- */
:root {
    --first-color: #1b1815;
    --second-color: #dae2eb;
    --third-color: #ad0dd9;
    --four-color: #5f4966;
    --five-color: #750b93;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 100vh;
}

/* ---------------------------------------- Topo ---------------------------------------- */
.navbar {
    height: 80px;
    background: var(--first-color);
}

.navbar .contato:nth-child(1) {
    margin-left: 6.4%;
}

.navbar .contato:nth-child(2) {
    margin-left: 1.5rem;
}

.navbar i {
    color: var(--second-color);
    font-size: 3.2rem;
}

.navbar i:hover {
    color: var(--text-color);
    font-size: 3.8rem;
    transition: 0.5s;
}

.collapse.show {
    margin-top: 20px;
}

.collapse.show a {
    transition: 0.8s;
    padding-left: 1rem;
    background: var(--first-color);
}

.collapse.show a:hover {
    color: var(--text-color);
}

.btn_topo {
    border: 2px solid var(--four-color);
    position: relative;
    display: block;
    padding: 14px 15px;
    color: var(--third-color);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    transition: all 1s ease;
}

.btn_topo:hover {
    color: var(--first-color);
    text-decoration: none;
}

.btn_topo:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    transition: all 0.75s ease 0s;
    background: var(--second-color);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.btn_topo:hover::after {
    height: 450%;
}

/* ---------------------------------------- Sobre mim ---------------------------------------- */
#tela1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--four-color);
}

.pag1 {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    height: 100%;
}

.vertical {
    position: relative;
    width: 150px;
    height: 100%;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    line-height: 1.1em;
    font-family: 'Bruno Ace SC', cursive;
}

.vertical span:nth-child(1) {
    color: var(--five-color);
    letter-spacing: 5px;
    font-size: 3em;
}

.vertical span:nth-child(2) {
    color: var(--third-color);
    letter-spacing: 0px;
    font-size: 2em;
}

.sobre_mim {
    width: 70%;
    height: 50%;
    margin-left: 1%;
    background: var(--first-color);
    border: 10px solid var(--first-color);
    border-right: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.6);
}

.nav_me {
    position: relative;
    background: #625e5b;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    height: 200px;
    width: 200px;
    box-shadow: 10px 0 0 var(--five-color);
    overflow: hidden;
}

.nav_me ul {
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
}

.list_me {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.list_me.active {
    background: var(--five-color);
}

.list_me.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #625e5b;
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--five-color);
}

.list_me.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #625e5b;
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--five-color);
}

.list_me a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
}
.list_me a:hover {
    text-decoration: none;
    color: var(--text-color);
}

.icon_me {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5em;
    z-index: 1;
}

.title_me {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    z-index: 10;
}

.conteudo {
    width: 80%;
    height: 100%;
    background: #dae2eb;
    border-left: 10px solid var(--five-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -230px;
}

.h2_me,
.h5_me,
.p_me {
    margin: 0 10% 0 3%;
}

.h2_me,
.h5_me {
    font-family: 'Bruno Ace SC', cursive;
}

.h2_me {
    color: var(--five-color);
}

.h5_me {
    color: var(--third-color);
    margin-bottom: 10px;
}

.p_me {
    margin-top: 10px;
}

.hide {
    display: none;
}

.post_it {
    position: relative;
    margin-top: -270px;
    margin-right: 50px;
    width: 180px;
    height: 140px;
    background: #abe35c;
    box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 14%;
    overflow: hidden;
}

.post_it a,
.post_it span {
    font-family: 'Architects Daughter', cursive;
    margin-left: 10%;
}

.post_it span {
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--first-color);
}

.post_it p {
    display: block;
    font-size: 1.8rem;
    margin-top: -26px;
    margin-left: 160px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.4);
    color: #abe35c;
}

.post_it a {
    font-size: 1.5rem;
    background: #dae2eb;
    padding: 5px;
    color: var(--four-color);
}

.post_it a:hover {
    text-decoration: none;
    color: var(--third-color);
}

.foto {
    position: static;
    width: 440px;
    height: 60%;
    background: var(--four-color);
}

.back_foto1,
.back_foto2,
.back_foto3 {
    position: absolute;
    width: 440px;
    min-width: 400px;
    height: 60%;
    border: 2px solid var(--first-color);
    background: var(--text-color);
}

.back_foto1 {
    transform: rotateZ(-2deg);
    top: 21%;
    right: 0.5%;
    z-index: 1;
}

.back_foto2 {
    transform: rotateZ(4deg);
    top: 22%;
    right: 1.2%;
    box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.back_foto3 {
    top: 21%;
    right: 1%;
    box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.img_clip1 {
    position: absolute;
    transform: rotateX(180deg);
    top: 78.5%;
    right: 72.5%;
    width: 110px;
    z-index: 5;
}

.img_clip2 {
    position: absolute;
    object-fit: unset;
    top: -19%;
    right: 26%;
    width: 200px;
    z-index: 5;
}

.img_me {
    position: relative;
    width: 100%;
    background: var(--text-color);
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.6);
    padding: 10px 10px 15% 10px;
    z-index: 4;
}

.back_foto3 p {
    position: relative;
    text-align: center;
    margin-top: -14%;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    z-index: 4;
}

@media (max-width: 1500px) {
    .conteudo {
        width: 85%;
    }
    .nav_me {
        width: 70px;
    }
    .title_me {
        color: transparent;
    }
}

@media (max-width: 1350px) {
    .pag1 {
        width: 100%;
    }

    .vertical {
        width: 100%;
        height: 14%;
        position: absolute;
        bottom: 0;
        flex-direction: column;
    }

    .vertical span {
        writing-mode: horizontal-tb;
    }

    .vertical span:nth-child(1) {
        font-size: 2.2em;
    }

    .vertical span:nth-child(2) {
        font-size: 1.5em;
    }

    .sobre_mim {
        height: 55%;
        margin-top: -12%;
    }

    .conteudo {
        margin-right: -230px;
    }

    .back_foto1 {
        top: 12%;
        right: 6%;
    }

    .back_foto2 {
        top: 12%;
        right: 6%;
    }

    .back_foto3 {
        top: 12%;
        right: 6%;
    }

    .img_clip1,
    .img_clip2 {
        display: none;
    }
}


@media (max-width: 1200px) {
    .foto .back_foto1 {
        right: 3%;
    }

    .foto .back_foto2 {
        right: 3%;
    }
    
    .foto .back_foto3 {
        right: 3%;
    }
}

@media (max-width: 1100px) {

    .pag1 {
        width: 100%;
        flex-direction: column;
    }

    .sobre_mim {
        width: 100%;
        height: 85%;
        margin-left: 0;
        margin-top: 0;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
    }

    .nav-me {
        width: 75px;
    }

    .conteudo {
        justify-content: start;
    }

    .h2_me {
        margin-top: 15px;
    }

    .p_me {
        font-size: 1rem;
        margin: 0 3% 0 3%;
    }

    .post_it {
        left: 7%;
        top: 32.5%;
        width: 160px;
        height: 120px;
        margin-right: 10px;
        z-index: 10;
    }

    .post_it p {
        margin-left: 140px;
    }

    .back_foto1,
    .back_foto2 {
        display: none;
    }

    .foto {
        position: absolute;
        bottom: 15.5%;
        width: 450px;
        height: 420px;
    }
    .foto .back_foto3 {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .back_foto3 .img_clip1,
    .back_foto3 .img_clip2 {
        display: none;
    }

    .back_foto3 .img_me {
        width: 100%;
        height: 40vh;
        box-shadow: none;
        padding-bottom: 0;
    }

    .back_foto3 p {
        display: none;
    }

}

@media (max-width: 700px) {
    .nav-me {
        width: 75px;
    }

    .sobre_mim {
        width: 100%;
        height: 45%;
    }

    .conteudo {
        justify-content: start;
    }

    .post_it {
        display: none;
    }

    .foto {
        width: 100%;
        height: 38vh;
        bottom: 15%;
    }

    .back_foto3 {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: var(--first-color);
    }

    .back_foto3 .img_me {
        max-width: 450px;
        height: 38vh;
        padding-bottom: 10px;
    }
}

@media (max-width: 575px) {
    .nav_me {
        width: 65px;
    }
    .h2_me {
        font-size: 1.5rem;
    }

    .p_me {
        font-size: 0.9rem;
    }

    .post_it {
        display: none;
    }

}

/* ---------------------------------------- Projetos ---------------------------------------- */
/* ---- Layout geral ---- */
#tela2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--first-color);
}

.projetos {
    position: relative;
    width: 100%;
    height: 68vh;
    background: var(--four-color);
    border-top: 10px solid var(--second-color);
    border-bottom: 10px solid var(--second-color);
    display: flex;
    flex-direction: column;
}

.title_proj {
    color: var(--third-color);
    background: var(--first-color);
    padding: 10px 0 5px;
    text-transform: uppercase;
    margin-top: -60px;
    font-size: 1.8rem;
    font-weight: 400;
    border-top: 10px solid var(--second-color);
    border-bottom: 10px solid var(--second-color);
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
}

.aviso_proj {
    font-size: 0.8rem;
    color: var(--first-color);
    text-align: center;
    margin: 0 35% 30px 35%;
    background: #abe35c;
}

.area_proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 1.4%;
}

.area_proj:last-child {
    margin: 25px 1.4% 0 1.4%;
}

.area_layouts {
    width: 600px;
    height: 430px;
    background: linear-gradient(#dae2eb, #1c191c);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: normal;
}

/* ---- Menu deslizável ---- */
.tab-menu {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
}

.tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
}

.tab-menu::-webkit-scrollbar {
    display: none;
}

.tab-menu.dragging .tab-btn {
    pointer-events: none;
}

.left-btn,
.right-btn {
    position: absolute;
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.left-btn {
    left: 0;
    background: linear-gradient(to left, transparent, var(--text-color) 90%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right-btn {
    right: 0;
    background: linear-gradient(to right, transparent, var(--text-color) 90%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* ---- Area layout (PC) ---- */
.tela_projeto {
    position: relative;
    width: 540px;
    height: 305px;
    background: var(--third-color);
    overflow: hidden;
}

.tela_projeto i {
    position: absolute;
    inset: 2px;
    background: #0e1538;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 20px;
    background: #0d122c;
    border: 3px solid #070c23;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;
}

.tela_projeto:hover .content img {
    opacity: 0;
}

.content h2,
.content p,
.content span {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    text-transform: uppercase;
}

.content h2 {
    color: var(--third-color);
    font-size: 1.5em;
    font-weight: 600;
}

.content p {
    font-size: 0.8em;
    font-weight: 300;
    margin: 15px 35px 30px 35px;
}

.content span {
    color: #cba8d6;
    font-size: 1em;
    font-weight: 300;
}

.content .link_int {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.content .link_ext {
    color: var(--four-color);
}

.content .link_int:hover {
    letter-spacing: 0.2em;
}

.btn_proj {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ---- Area layout (Mobile) ---- */
.mobile_layout {
    position: relative;
    border: 10px solid var(--first-color);
    border-radius: 10px;
    width: 115px;
    height: 200px;
    margin-left: -60px;
    z-index: 10;
}

.mobile_layout img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_mobile {
    display: none;
}

.content2 h2,
.content2 p {
    display: none;
}

/* ---- Area Icones ---- */
.icon_leng {
    position: relative;
    background: linear-gradient(#2b282b, #1c191c);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    padding: 0 25px 0 25px;
}

.icon_leng li {
    display: flex;
    flex-direction: column;
}

.icon_leng i {
    font-size: 4rem;
    color: var(--second-color);
    padding: 0 15px 0 20px;
}

.icon_leng span {
    font-size: 0.8rem;
    color: var(--second-color);
    text-align: center;
    margin-left: 5px;
}


/* ---------------------------------------- Habilidades ---------------------------------------- */
#tela3 {
    background: url(../img/purple-fluid.jpg) right;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fundo_escuro {
    position: absolute;
    top: 0;
    background: var(--first-color);
    width: 100%;
    height: 80px;
}

.pag3 {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background: var(--first-color);
}

.personagem {
    width: 605px;
    margin-bottom: -7%;
    margin-left: -150px;
    z-index: 10;
}

.dialogo {
    position: relative;
    width: 300px;
    min-width: 300px;
    margin-top: -400px;
    margin-left: -200px;
}

.dialogo img {
    width: 100%;
}

.hab {
    position: relative;
    display: flex;
    margin-bottom: -20px;
    z-index: 2;
}

.hab li {
    position: relative;
    list-style: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta {
    position: absolute;
    top: -51vh;
    width: 250px;
    margin-left: 925px;
    font-size: 1.3rem;
    color: var(--first-color);
    pointer-events: none;
    text-align: center;
    font-style: italic;
}

.hab:hover .pergunta {
    color: transparent;
}

.name {
    color: transparent;
}

.hab li:hover .name {
    color: var(--text-color);
    transition: 0.5s ease-in;
}

.text {
    position: absolute;
    top: -51vh;
    width: 250px;
    font-size: 1.1rem;
    color: transparent;
    pointer-events: none;
    text-align: center;
    font-style: italic;
}

.html .text {
    margin-left: 935px;
}

.css .text {
    margin-left: 595px;
}

.boot .text {
    margin-left: 250px;
}

.js .text {
    margin-left: -90px;
}

.php .text {
    margin-left: -430px;
}

.hab li:hover .text {
    color: var(--first-color);
    transition: 0.5s ease-in;
}

.hab li span {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 6em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: 0.5s;
    overflow: hidden;
}

.hab li span:hover {
    transform: translateY(-20px);
    color: var(--text-color);
}

.hab li span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.hab li span:hover::before {
    transform: skewX(45deg) translateX(-190px);
}


/* ---------------------------------------- MediaQueries ---------------------------------------- */

@media (max-width: 850px) {
    .hab li span {
        width: 80px;
        height: 80px;
        font-size: 3em;
    }

    .personagem {
        width: 405px;
        margin-bottom: -210px;
        margin-left: -80px;
    }

    .dialogo {
        width: 250px;
        min-width: 250px;
        margin-top: -27vh;
        margin-left: -150px;
    }

    .pergunta {
        top: -47vh;
        margin-left: 575px;
        font-size: 1.2rem;
    }

    .name {
        font-size: 0.8rem;
    }

    .text {
        top: -46vh;
        width: 200px;
        font-size: 1rem;
    }

    .html .text {
        margin-left: 575px;
    }

    .css .text {
        margin-left: 365px;
    }

    .boot .text {
        margin-left: 170px;
    }

    .js .text {
        margin-left: -30px;
    }

    .php .text {
        margin-left: -230px;
    }
}

@media (max-width: 700px) {
    .navbar .contato:nth-child(1) {
        margin-left: 0;
    }
    .aviso_proj {
        margin: 0 10% 50px 10%;
    }
}

@media (max-width: 575px) {
    .projetos {
        height: 78vh;
    }

    .area_proj {
        width: 100%;
        height: 95%;
        margin: 0;
    }

    .area_proj:last-child {
        margin: 0;
    }

    .area_layouts {
        min-width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
    }

    .mobile_layout img {
        object-fit: cover;
    }

    .tela_projeto {
        display: none;
    }

    .icon_leng {
        display: none;
    }

    .mobile_layout {
        width: 300px;
        height: 85%;
        margin-left: 0;
        margin-top: -45px;
    }

    .content2 {
        position: absolute;
        inset: 1px;
        background: #0d122c;
        border: 3px solid #070c23;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        background-size: cover;
    }

    .content2 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        z-index: 3;
        pointer-events: none;
    }

    .content2 h2,
    .content2 p {
        position: relative;
        display: block;
        z-index: 2;
        text-align: center;
        color: #fff;
        letter-spacing: 0.05em;
        line-height: 1.25em;
        text-transform: uppercase;
    }

    .content2 h2 {
        color: var(--third-color);
        font-size: 1.5em;
        font-weight: 600;
    }

    .content2 p {
        font-size: 0.8em;
        font-weight: 300;
        margin: 15px 15px 30px 15px;
    }

    .content2 .link_int {
        position: relative;
        margin-top: 10px;
        padding: 10px 20px;
        background: #fff;
        color: #070a1c;
        border-radius: 25px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
        transition: 0.5s;
    }

    .content2 .link_ext {
        color: var(--four-color);
    }

    .content2 .link_int:hover {
        letter-spacing: 0.2em;
    }

    .content2:hover img {
        opacity: 0;
    }

    .btn_mobile {
        position: relative;
        display: flex;
        margin-bottom: -50px;
    }

    .btn_mobile a {
        background: var(--first-color);
        border: 5px solid var(--five-color);
        padding: 12px 35px 12px 35px;
        margin: 20px 10px 0 10px;
        color: var(--second-color);
        font-size: 1.1rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    .btn_mobile a:hover {
        border: 5px solid var(--third-color);
        color: var(--text-color);
        text-decoration: none;
    }

    .hab li {
        margin: 2px;
    }

    .hab li span {
        width: 70px;
        height: 70px;
    }

    .personagem {
        width: 375px;
        margin-bottom: -220px;
        margin-left: -80px;
    }

    .dialogo {
        margin-top: -30vh;
        margin-left: -130px;
    }

    .pergunta {
        top: -49vh;
        margin-left: 465px;
    }

    .text {
        top: -48.5vh;
        width: 200px;
        font-size: 1rem;
    }

    .html .text {
        margin-left: 465px;
    }

    .css .text {
        margin-left: 315px;
    }

    .boot .text {
        margin-left: 165px;
    }

    .js .text {
        margin-left: 20px;
    }

    .php .text {
        margin-left: -130px;
    }
}

@media (max-height: 900px) {
    .personagem {
        margin-bottom: -10vh;
    }

    .pergunta {
        top: -46vh;
        margin-left: 465px;
    }

    .text {
        top: -46vh;
    }
}